* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
}

h2 {
  padding-top: 8vh;
}

.up {
  display: flex;
  justify-content: center;

  color: #fff;
  background: #3f75a2;
  height: 70vh;
}

.down {
  background: #fff;
}

main {
  width: 90vw;
  height: 90vh;
  background: #f7f8fa;
  color: #222;
  border-radius: 12px;
  position: absolute;
  bottom: -10vh;
  left: 20.5px;
}
